# Ignore model and binary files
*.img
*.bin
*.pth
*.pt
*.onnx
*.npy
*.png
*.nii.gz
*.nii
*.safetensors
*.h5
*.hdf5

# Ignore modeller output folder (relative to repo root)
modeller/

# Ignore any folder named preprocessed (anywhere)
preprocessed/

# Ignore pycache
__pycache__/